  Welcome, <%= @user.email %>
  <%# image_tag @user.avatar.url(:medium) %>
<div class="container">
  <div class="col-md-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>My Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>First Name: </th>
            <td><%= @user.first_name %></td>
          <td>
        </tr>
        <tr>
          <th>Last Name: </th>
            <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <th>Current City: </th>
            <td><%= @user.current_city %></td>
        </tr>
      </tbody>
      Joined on: <%= @user.created_at %>
    </table>
    <%= link_to "Edit User", user_edit_path, class:"btn btn-info" %>
  </div>

  <div class=col-md-8>
    <h2><%= @user.first_name %>'s Posts</h2>
    <hr>
    <% @posts.each do |p| %>
    <!-- <h3><p>Post for <%= @user.current_city%></p></h3> -->
    <h3>Title: <%= link_to p.title, city_post_path(p.city_id,p) %></h3>
    <article><p><%= p.text %></article></p>
    <%= button_to "Delete Post", p, method: :delete, class: "btn btn-small btn-danger" %>
    <%= link_to "Edit Post", post_edit_path(p), class:"btn btn-info" %>
    <hr>
    <% end %>
  </div>
</div>
