  Welcome, <%= @user.email %>
  <%# image_tag @user.avatar.url(:medium) %>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.current_city %>
  <%= @user.created_at %>
  <br>
  <h5>List of <%= @user.first_name %> Posts</h5>
  <hr>
  <% @posts.each do |p| %>
  <strong>Title: </strong><%= link_to p.title, city_post_path(p.city_id,p) %>
  <strong>Text: </strong><%= p.text %>
  <br>
  <hr>
  <% end %>
  <%= @user.current_city%>
  <%= link_to "Edit User", user_edit_path %>
</div>
