<h1>Post Show Page!</h1>
<h2><strong>Title: </strong> <%= @post.title %> </h2>
<h2><strong>Text: </strong> <%= @post.text %> </h2>
Written by: <%= @user %>
<br>
<h3>Comments for this Post</h3>
<% @comments.each do |c| %>
  <%= c.body %>
  <br>
<% end %>
<%= link_to "Posts Index", posts_path,:class=>"btn btn-primary" %>
<br>
<%= link_to "Edit this Post", post_edit_path(@post), :class=>'btn btn-warning' %>
<%= button_to "Delete Post", @post, method: :delete, class: "btn btn-small btn-success" %>
