<h1><%=@city.name %></h1>

<img class="img-responsive" src="<%= @city.image %>">

<h4>See what people are saying about <%=@city.name%></h4>
<ul>
<% @posts.each do |post| %>
  <h3> <%=link_to post.title, city_post_path(@city,post)%> </h3>
  <%= post.text %>
  <strong>Written By:</strong><%= post.user.first_name %>
  <%= button_to "Delete Post", [@city,post], method: :delete, class: "btn btn-small btn-danger" %>
  <%= link_to "Edit Post", post_city_edit_path(@city,post),  :class=>"btn btn-small btn-warning" %>
<% end %>
</ul>

<%= button_to "Add New Post", new_post_path, :method => "get", class: "btn-small btn-warning" %>
<%= link_to "Edit City", city_edit_path %>
<%= link_to "Cities Index", cities_path %>
<%= button_to "Delete City", @city, method: :delete, class: "btn btn-small btn-primary" %>
