<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Path Finder", root_path, class:" navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <% if current_user %>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Cities", cities_path %></li>
              <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
              <li><%= link_to "Create Account", new_user_path %></li>
              <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container flash-msg">
      <font color="red">
        <% flash.each do |name, msg| %>
        <h1>
          <%= name.capitalize %>: <%= msg %>
        </h1>
        <% end %>
      </font>
    </div>
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
