<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Path Finder", root_path, class:" navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <% if current_user %>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Index of Posts", posts_path %></li>
              <li><%= link_to "Index of Cities", cities_path %></li>
              <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
              <li><%= link_to "Create Account", new_user_path %></li>
              <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
          <% if current_user == nil %>
            <form class="navbar-form navbar-right">
              <%= form_for @user, url: "/sessions", method: "post" do |f| %>
                <div class="form-group">
                  <%= f.text_field :email, placeholder: "Email", class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
                </div>
                <%= f.submit "Sign In", class:"btn btn-success" %>
              <% end %>
            </form>
          <% end %>

          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form> -->
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <%= render "partials/jumbotron"%>
    <div class="container">
      <%= yield %>

      <hr>
      <% flash.each do |name, msg| %>
      <p>
        <small> <%= name.capitalize %>: <%= msg %> </small>
      </p>
      <% end %>

    </div> <!-- /container -->


    <%= render "partials/footer" %>
</body>
</html>
