<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <% if current_user %>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li><%= link_to "Create Account", new_user_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>

  <% flash.each do |name, msg| %>
    <p>
      <small> <%= name.capitalize %>: <%= msg %> </small>
    </p>
  <% end %>

<%= yield %>

</body>
</html>
